body{
    margin:0;
}

* , *::before,*::after{
    box-sizing: border-box;
    font-family:'Roboto', sans-serif; 
}

.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:3rem 1rem;
    padding:3rem 0;
    margin:0 1.5rem;
    border-top: 4px solid #c7c6c6;
}

.video-section:first-child{
    border-top:none;
}
.videos{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 237, 237);
}
.thumbnail{
 
    position: relative;
    display: flex;

}

.thumbnail::before{
    position: absolute;
    content: attr(data-duration);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 10%;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    font-size: .9em;
}
.thumbnail-image{
    height: 100%;
    width: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #aaa;
}
.video-bottom-section{
    display: flex;
    margin-top: 0.5rem;
}
.channel-logo{
width: 36px;
height: 36px;
margin-right: .75rem;   
border-radius: 50%;
background-color: #aaa;
}

.right-section{
    margin-left: .5rem;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    
    
}
.video-title{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: .3rem;
    color: black;
}
.channel-name{
    margin-bottom: .1rem        ;
    color: rgb(121, 118, 118);
    transition: color 150ms;
}
.video-title, .channel-name{
 
    text-decoration: none;
}
.channel-name, .video-metadata{
    color: rgb(121, 118, 118);
 
}
.channel-name:hover{
    color:#111;
}

.special-section{
    padding: 0 .5rem;
    align-items: center;
    grid-column: 1/-1;
    margin : -.5rem 0;
    display: flex;
    justify-content: space-between;
    color: rgb(19, 18, 18);
}
.special-button{
    border: 0;
    background: none;
    padding:0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

.categories{
    padding:1rem 2rem;
    border-top:1px solid #999;
    border-bottom: 1px solid #999;;
    
}
.catergories-section{
    display: flex;
    overflow: hidden ;
}

.category{
    margin-right:1rem; 
    word-wrap: none;
    white-space: nowrap;
    border:1px solid #ccc;
    border-radius: 1000px;
    background-color: #e7e7e7;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: inherit;
    transition: background-color 150ms;
}

.category:hover{
    background-color: rgb(195, 195, 195);
}
.category.active{
    background-color: #555;
    color:white;
    border-color: #eee;
    }

    .category:last-child{
        margin-right: 0;
    }
    .youtube-logo{
        width:6rem;
        height:30px;
    }
    

    .header{
     
        display :  flex;
        margin:1rem 2rem;
        align-items: center;
        justify-content: space-between;
        

    }

    
    .search-bar{
        display: flex;
        flex-grow: 1;
        margin:0 8rem 0 14rem;
       


    }

    .search-input{
        width: 100%;
        padding:.4rem;
        font-size: inherit;
        border:1px solid #777;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .channel-logo1{
        
        width:30px;
        height: 30px;
        border-radius: 50%;
        background-color: #aaa;
     
    }

    .menu-icon {
      display: grid;
      gap: 1.5em;
      grid-template-columns: repeat(5,auto);
      align-items: center;
      
    }
    .search-button{
       padding :0 1.5rem;
       border:.5px solid #777;
       background-color: #f8f8f8;
       border-left: none;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
       cursor: pointer;
        
    }
    .search-button:hover{
        background-color: rgb(195, 195, 195);
    }
    @media(max-width: 900px){
        .search-bar{
            display: none;
        }
    }
    
    .search{
        display: none;
    }
   @media(max-width: 900px) {
       .search{
           display: grid;
       }
       
   }
   
   @media  (max-width:500px){
       .categories{
        padding:.5rem 1rem;
        font-size: .7rem;

       }
       .category{
           padding: .3rem .5rem;
       }
   }

  @media (max-width:500) {
    .thumbnail-image{
        height: 100%;
        width: 100%;
        min-width: 200px;
        min-height: 120px;
        background-color: #aaa;
    }
}






